body {
  font-family: "Overpass", "Nanum Barun Gothic", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 14px;
  margin: 0;
}
a {
  color: #333333;
  text-decoration: none;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img,
.banner svg {
  display: block;
  padding: 1.5rem;
}

#canvas {
  display: block;
  margin: 0rem auto;
  width: 720px;
  height: 420px;
}
